* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
}

#ml_lb_overlay {
	background: black;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

#ml_lb_overlay #ml_lb_imageBox {
	background:#fff;
	width: 50%;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 25%;
}

#ml_lb_overlay #ml_lb_imageBox img {
	max-width: 100%;
	max-height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
}

.container-full-width {
	width: 100%;
	padding: 2% 0%;
}

.ml-container-grey {
	background: #878787;
	color: #ffffff;
}

.ml-container-blue {
	background: #0068a6;
	color: #ffffff;
}

.container {
	max-width: 1350px;
	margin: 0 auto;
}

.gallery {
	background-color: grey;
	position: relative;
	height: 100vh;
}

.gallery > img {
	padding: 0.5%;
	width: 24.5%;
	cursor: pointer;
}

.header {
	color: #fff;
	height: 100vh;
	background-image:
	linear-gradient(to right bottom, rgba(12, 64, 127, 0.8),
	rgba(24, 127, 255, 0.8)), url("../img/hero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	clip-path: polygon(0 0, 100% 0, 100% 75vh,0 100%);
	padding: 2%;
}