* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
}

.container-full-width {
	width: 100%;
	padding: 2% 0%;
}

.container {
	max-width: 1350px;
	margin: 0 auto;
}

.slider-wrap {
	width: 300px;
	height: 500px;
	margin: 20px auto;
}
.slider {
	overflow-x: scroll;
}
.holder {
	width: 300%;
}

.slide {
	float: left;
	width: 300px;
	height: 500px;
	position: relative;
	background-position: -100px 0;
}

.temp {
	position: absolute;
	color: white;
	font-size: 100px;
	bottom: 15px;
	left: 15px;
	font-family: 'Josefin Slab', serif;
	font-weight: 100;
}

#slide-0 {
	background-image: url(http://farm8.staticflickr.com/7347/8731666710_34d07e709e_z.jpg);
}

#slide-1 {
	background-image: url(http://farm8.staticflickr.com/7384/8730654121_05bca33388_z.jpg);
}

#slide-2 {
	background-image: url(http://farm8.staticflickr.com/7382/8732044638_9337082fc6_z.jpg);
}

.slide:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40%;
	background: linear-gradient(transparent, black);
}

.slider-nav {
	text-align: center;
	margin: 10px 0 0 0;
}

.slider-nav a {
	width: 10px;
	height: 10px;
	display: inline-block;
	background: #ddd;
	overflow: hidden;
	text-indent: -9999px;
	border-radius: 50%;
}

.slider-nav a.active {
	background: #999;
}