* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #232323;
}

.gb-entry {
    margin-top: 5px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #888888;
}

.gb-container {
    max-width: 800px;
    margin: 0 auto;
    background: lightgrey;
    padding: 1%;
    margin-top: 15px;
}

form {
    margin-top: 10px;
}

form label, form textarea, form input[type=text] {
    display: block;
}

form textarea, form input[type=text] {
    width: 150px;
    padding: 4px;
}

form button {
    background-color: #3083ff;
    color: #fff;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
}