* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
}

.header {
	color: #fff;
	min-height: 100vh;
	background-image:
	linear-gradient(to right bottom, rgba(12, 64, 127, 0.8),
	rgba(24, 127, 255, 0.8)), url("../img/hero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	padding: 5%;
}


.panel-alert {
	background: #fb9393;
	 border: 1px solid red;
}

input[type=number], button {
	border: 1px solid #0a305a;
	display: block;
	margin: 0% 1% 2% 0%;
	padding: 1%;
}

button {
	background: #072240;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.7em;
}

label {
	font-size: 0.7em;
}
