* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
}

.container {
	max-width: 1350px;
	margin: 0 auto;
}

.container > #reaction-container {
	max-width: 350px;
	margin: 0 auto;
}

.header {
	color: #fff;
	height: 100vh;
	background: #3083ff;
	padding: 5%;
}


.panel-alert {
	background: #fb9393;
	 border: 1px solid red;
}

input[type=number], button {
	border: 1px solid #444444;
	display: block;
	margin: 0% 1% 2% 0%;
	padding: 1%;
}

button {
	background: #565656;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.75em;
	padding: 20px 70px;
	cursor: pointer;
}

label {
	font-size: 0.7em;
}
