* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
}

.container-full-width {
	width: 100%;
	padding: 2% 0%;
}

.container {
	max-width: 1350px;
	margin: 0 auto;
}

.dots-wrapper {
	position: absolute;
	width: 100px;
	left: 50%;
	margin-left: -50px;
	bottom: 20px;
	text-align: center;
}

.dots-wrapper li {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: white;
	border-radius: 50%;
	margin: 0 4px;
	opacity: 0.5;
	cursor: pointer;
	transition: opacity 0.3s;
}

.dots-wrapper li:active, .dots-wrapper li:hover {
	opacity: 1;
}

.slider {
	position: relative;
	width: 100%;
	min-height: 50vh;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
	overflow: hidden;
}

.slider > .slider-inner {
	position: absolute;
}

.slider > .slider-inner:after {
	content: "";
	display: table;
	clear: both;
}

.slider > .slider-inner > .slide {
	float: left;
	box-sizing: border-box;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}

.slider > .slider-inner > .slide.slide1 {
	background-image: url('../img/img-1.jpg');
}

.slider > .slider-inner > .slide.slide2 {
	background-image: url('../img/img-2.jpg');
}

.slider > .slider-inner > .slide.slide3 {
	background-image: url('../img/img-3.jpg');
}

.slider > .slider-inner > .slide.slide4 {
	background-image: url('../img/img-4.jpg');
}

.slider > .slider-inner > .slide.slide5 {
	background-image: url('../img/img-5.jpg');
}

.slider > .slider-inner > .slide img {
	display: block;
	width: 100%;
}

.slider > .slider-inner > .slide span {
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: block;
	width: 100vw;
	height: 50vh;
	top: 12vw;
	font-size: 10vw;
	line-height: 100vh;
	letter-spacing: 1vw;
	font-family: Impact, Charcoal, sans-serif;
	text-shadow: 5px 5px 0px #ffffff;
}

a[class|="arrow"] {
	position: absolute;
	display: block;
	top: 25%;
	margin-top: -20px;
	width: 40px;
	height: 40px;
}
.arrow-left {
	left: 20px;
	border-bottom: 6px solid #ffffff;
	border-left: 6px solid #ffffff;
	transform: rotate(45deg);
	transition: left 0.5s;
}
.arrow-left:hover {
	left: 15px;
}
.arrow-right {
	right: 20px;
	border-bottom: 6px solid #ffffff;
	border-right: 6px solid #ffffff;
	transform: rotate(-45deg);
	transition: right 0.5s;
}
.arrow-right:hover {
 	right: 15px;
}