* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
}

.container {
	max-width: 1350px;
	margin: 0 auto;
}

#game {
	background-color: grey;
	height: 400px;
	width: 400px;
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
	box-sizing: border-box;
}

.header {
	color: #fff;
	height: 100vh;
	background-image:
	linear-gradient(to right bottom, rgba(12, 64, 127, 0.8),
	rgba(24, 127, 255, 0.8)), url("../img/hero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	clip-path: polygon(0 0, 100% 0, 100% 75vh,0 100%);
	padding: 2%;
}