<html>
    <head>
        <title>Some Title</title>
        <link rel="stylesheet" type="text/css" href="/css/app.css"/>
    </head>
    <body>
         <div class="gb-container">
            <strong>Anzahl Einträge:</strong> <%= entries.length %>
            <div class="gb-entries">
                <% for(let entry of entries) { %>
                    <div class="gb-entry">
                        <h3><%= entry.title %></h3>
                        <p><%= entry.content %></p>
                    </div>
                <% } %>
            </div>
            <form id="gb-entry-form" method="POST" action="/guestbook/new">
                <label for="title">Titel</label>
                <input type="text" name="title" id="title"/>
                <label for="content">Inhalt</label>
                <textarea name="content" id="content"></textarea>
                <button type="submit">Absenden</button>
        </div>
        <script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="/js/index.js"></script>
    </body>
</html>